.parent {
  position: relative;
  padding: 1em;
}
.child {
  position: absolute;
  padding-top: 0.05rem;
  /* background: red; */
  top: 10px;
  bottom: 50%;
  /* left: 45%; */
  left: 25%;
  right: 25%;
  color: var(--color1);
  z-index: 100;
  height: 0;
}
.google-signin-button {
  display: inline-block;
  background-color: #4285f4;
  color: var(--color1);
  border-radius: 5px;
  /* box-shadow: 2px 1px 1px var(--search-text-color); */
  white-space: nowrap;
  position: absolute;
  left: 10rem;
  width: 23rem;
  top: 15rem;
  height: 2.8rem;
}

.google-signin-button:hover {
  cursor: pointer;
}

.google-signin-button-icon {
  background: url("https://developers.google.com/identity/sign-in/g-normal.png")
    transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.google-signin-button-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 2rem;
  font-weight: bold;
}
